{% extends "accounts/base.html" %}
{% block title %}SignIn{% endblock %}

{% block body %}
<div>
  <form method="post" action="{% url 'accounts:signin_ajax' %}" id="signin_ajax">
    {% csrf_token %}
    {{form.as_p}}
    <button type="button" id="btn">Sign In</button>
  </form>
</div>
{% endblock %}

{% block script %}
<!--Signin Ajax-->
<script type="text/javascript">
  $('#btn').click(function(event){
    var form = $('#signin_ajax');
    //console.log($('#testajax [name=post_type]').val())
    console.log(form.serializeArray())

    $.ajax({
      url: "{% url 'accounts:signin_ajax' %}",
      method: form.prop("method"),
      data: form.serialize(),
      timeout: 10000,
      dataType: "json",
    })
    .done( function(d) {
      window.alert(d.status)
      $('#user').text("LoginUser: "+d.username)
    })
  });
</script>
{% endblock %}