<div>
  Sign Up
</div>

<div>
  <a href="{% url 'accounts:home' %}">Home</a>
</div>

<div>
  <a href="{% url 'accounts:signout' %}">Log out</a>
</div>

<div>
  <a href="{% url 'accounts:signin' %}">Log in</a>
</div>

<div>
  <a href="{% url 'accounts:signup' %}">Sign up</a>
</div>

<div>
  <form method="post" action="{% url 'accounts:signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit">Signup</button>
  </form>
</div>