{% extends "accounts/base.html" %}
{% load rules %}
{% block title %}ArticleDetail{% endblock %}

{% block body %}
<form method="post">
  <table class="table">
    <tr>
      <th>PK</th>
      <td>{{object.pk}}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{object.name}}</td>
    </tr>
    <tr>
      <th>User</th>
      <td>{{object.created_by}}</td>
    </tr>
    <tr>
      <th>Category</th>
      <td>{{object.category |default:''}}</td>
    </tr>
    <tr>
      <th>Tags</th>
      <td>{%for tag in object.tags.all%}{{tag}},{%endfor%}</td>
    </tr>
    <tr>
      <th>For Pro</th>
      <td>{%if object.is_for_pro%}○{%endif%}</td>
    </tr>
  </table>
  {% has_perm 'web.rules_update_article' request.user object as is_editable %}
  {% if is_editable %}
  <a href="{% url 'web:article_update' pk=object.pk %}" class="btn btn-primary">Edit</a>
  <a href="{% url 'web:article_delete' pk=object.pk %}" class="btn btn-danger">Delete</a>
  {% endif %}
</form>
{% endblock %}

{% block script %}
{% endblock %}