{% extends "accounts/base.html" %}
{% load rules %}

{% block title %}ArticleList{% endblock %}

{% block body %}
<div class="row">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created By</th>
      <th>Category</th>
      <th>Tags</th>
      <th>Pro</th>
    </tr>

    {% for article in object_list %}
    {% has_perm 'web.rules_read_article' request.user article as is_available %}
    <tr>
      <td>
        {% if is_available %}
        <button
            class="btn-primary"
            onclick=location.href="{% url 'web:article_detail' pk=article.pk %}">
          {{article.pk}}
        </button>
        {% else %}
        <button class="btn-default">{{article.pk}}</button>
        {% endif %}
      </td>
      <td>{{article.name}}</td>
      <td>{{article.created_by}}</td>
      <td>{{article.category |default:""}}</td>
      <td>{% for tag in article.tags.all %}{{tag}}, {%endfor%}</td>
      <td>{%if article.is_for_pro%}○{%endif%}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}

{% block script %}
{% endblock %}

